<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... (your existing head content) ... -->
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        .<div class="welcome-section">
            <div class="index-logo"></div>
            <h2 class="title-header">NOTESHARE</h2>
          </div>
          <div class="code-display-mid">
        
        
            <pre class="textArea">
            <code class="code-display-text <%= locals.language ? `language-${locals.language}` : "" %>" id="code-display"><%= code %></code>
        </pre>
            <% if (locals.expiryTimestamp) { %>
                <p>Expires at: <%= locals.expiryTimestamp.toLocaleString() %>
                </p>
                <% } %>

                    <!-- Display Main URL Access Count -->
                    <p class="count">Main URL Access Count: <%= locals.mainURLAccessCount %>
                    </p>
                    <%- include("_buttons.ejs", { id: locals.id }) %>
                    <!-- Copy URL button -->
                    <button class="btn copy-btn shorten-url" onclick="copyURL()">Copy URL</button>
                    <a class="btn copy-btn shorten-url" href="/shorten-url/<%= locals.id %>">Shorten URL</a>
</div>
    </div>

    <!-- JavaScript to copy URL to clipboard -->
    <script>
        function copyURL() {
            // Create a text area element
            var textArea = document.createElement("textarea");
            // Set the value (URL) to be copied
            textArea.value = window.location.href;
            // Append the text area to the document
            document.body.appendChild(textArea);
            // Select the text in the text area
            textArea.select();
            // Execute the copy command
            document.execCommand('copy');
            // Remove the text area from the document
            document.body.removeChild(textArea);
            // Optionally, provide some user feedback (e.g., alert)
            alert('URL copied to clipboard!');
        }
    </script>
</body>

</html>